.display {
    width: 100%;
    height: 20vh;
}

.result {
    width: 100%;
    height: 100%;
    background-color: #858694;
    padding: 1.5rem 3rem;
    font-size: 12rem;
    color: white;
    text-align: end;
    cursor: default;
}
